/* styles.css */
body {
font-family: Arial, sans-serif;
background: #ad6565;
padding: 20px;
}
.container {
max-width: 700px;
margin: auto;
background: #fff;
padding: 20px;
border-radius: 6px;
box-shadow: 0 0 10px rgba(179, 108, 1, 0.1);
}
#product-list div {
padding: 10px;
border-bottom: 1px solid #e7e4de;
}
button {
margin-top: 10px;
padding: 8px 12px;
cursor: pointer;
}